<% if Article.all.size > 1 %>
<ul class="img-list">
  <% Article.all.each do |article| %>
    <li>
      <a href = "/articles/<%=article.id%>">
        <img src = "<%=article.image_link%>"/>
          <span class="text-content">
              <span><%= article.title %></span>
          </span>
      </a>
    </li>
  <% end %>
</ul>
<% else %>
  <div style = "height:200px;"></div>
  <h1> Coming Soon </h1>
<% end %>

