<ul class="img-list">
  <% Article.all.each do |article| %>
    <li>
      <a href = "/articles/<%=article.id%>">
        <img src = "/assets/<%=article.image_name%>"/>
          <span class="text-content">
              <span><%= article.title %></span>
          </span>
      </a>
    </li>
  <% end %>
</ul>

