<div id = "main_content">
  <div id = "top_bar">
    <div id = "title">
      <a href="/main">
        <h3>Travis Gibson</h3>
      </a>
    </div>
      <div class = "outside_links">
        <a href = "https://linkedin.com/in/travisgibson1">
          <img src ="http://cdn.flaticon.com/png/256/2496.png">
        </a>
        <a href = "https://github.com/Travis75">
          <img src ="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
        </a>
        <a href="mailto:travis.gibson75@gmail.com">
          <img src ="http://uxrepo.com/static/icon-sets/zocial/svg/email.svg">
        </a>
      </div>
    <div id = "nav">
      <div class = "blog_portfolio">
        <a href="/articles">
          <h4>Blog</h4>
        </a>
      </div>
      |
      <div class = "blog_portfolio">
        <a href="/projects">
          <h4>Projects</h4>
        </a>
      </div>
    </div>
  </div>
  <div id = "body">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "http://mw2.google.com/mw-panoramio/photos/medium/2817812.jpg"/>
        </div>
        <div class="back">
            Born in Charlotte, NC
            July 25, 1989
        </div>
      </div>
    </div>
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "http://ak2.picdn.net/shutterstock/videos/113806/preview/stock-footage--th-street-life-guard-hut-with-miami-beach-sign-florida.jpg"/>
        </div>
        <div class="back">
            After my parents realized their distaste for the winter we moved to Miami where I was raised for most of my life.
        </div>
      </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "
          http://nyslandsummit.org/wp-content/uploads/2013/08/West-Point-Aerial.jpg"/>
        </div>
        <div class="back">
            After high school I attended West Point for a year. While I realized it wasn't the right place for me it did teach me a great deal about leadership, work ethic, and always doing your job to the best of your ability.
        </div>
      </div>
    </div>
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "
          http://www.best-masters.com/photo_ecole/549-p.jpg"/>
        </div>
        <div class="back">
            I was fortunate enough to attend Duke University. It was an amazing experience and I was pushed to excel both athletically and academically.
        </div>
      </div>
    </div>
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "http://image.cdnllnwnl.xosnetwork.com/pics32/800/TF/TFHQENJBGDSKCLG.20120917164009.jpg"/>
        </div>
        <div class="back">
          I realized my lifelong dream of playing DI football as an offensive lineman at Duke. Even with football taking up 40+ hours a week I managed to maintain a place on the ACC academic achievement list all four years.
        </div>
      </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "http://www.ruthlessreviews.com/wp-content/uploads/2006/03/sportscenter.jpg"/>
        </div>
        <div class="back">
            I interned at ESPN for the College Sports Programming Department in 2012.
        </div>
      </div>
    </div>
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "
          http://training4it.com/wp-content/uploads/2014/03/oracle-plane1.jpg"/>
        </div>
        <div class="back">
            Upon graduation from Duke I went to work at Oracle in enterprise account sales. I was able to close multiple deals valued at over 200k and learned a valuable skill set in salesmanship.
        </div>
      </div>
    </div>
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "http://blogs.adobe.com/typblography/files/2012/09/SourceCodeSplash.png"/>
        </div>
        <div class="back">
            I am a recent graduate of Dev Bootcamp where I spent 18 intense weeks learning to code. My skills include: Ruby, Rails, Javascript, HTML, CSS, and SQL.
        </div>
      </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "http://mcmanuslab.ucsf.edu/sites/mcmanuslab.ucsf.edu/files/imagepicker/m/mmcmanus/san-francisco.jpg"/>
        </div>
        <div class="back">
          Based out of the Bay Area, I love exploring San Francisco. If I am not writing or reading up on programming then you can probably find me trying to eat my way through all of the amazing restaurants in the city!
        </div>
      </div>
    </div>
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "https://c2.staticflickr.com/8/7178/6916377566_f70d8619a1_z.jpg"/>
        </div>
        <div class="back">
          I have both the technical skills required to be a software developer as well as a strong sales background. I am a dedicated individual who will work tirelessly to achieve the goals of any team I may be a part of.
        </div>
      </div>
    </div>
     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "https://c1.staticflickr.com/5/4011/4629080927_3a716cb27a.jpg"/>
        </div>
        <div class="back">
          I am actively looking for the right organization to be a part of. If you think I may be a fit for your team. Please contact me.
        </div>
      </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src = "http://fistfuloftalent.com/wp-content/uploads/2014/05/Screen-Shot-2014-05-12-at-10.39.40-AM-600x320.png"/>
        </div>
        <div class="back">
            I am a Duke graduate with experience in technology sales and software development. If you think I could be a valuable addition to your organization please contact me.
        </div>
      </div>
    </div>
  </div>
</div>

