<div id = "main_content">
  <div id = "top_bar">
    <div id = "title">
      <a href="/main">
        <h3>Travis Gibson</h3>
      </a>
    </div>
      <div class = "outside_links">
        <a href = "https://linkedin.com/in/travisgibson1">
          <img src ="http://4.bp.blogspot.com/-0SiVh3zF1CQ/UwtYFK3o9xI/AAAAAAAAAIE/HCif6kUatJQ/s1600/linkedin-button2.png">
        </a>
        <a href = "https://github.com/Travis75">
          <img src ="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
        </a>
      </div>
    <div id = "nav">
      <div class = "blog_portfolio">
        <a href="/articles">
          <h4>Blog</h4>
        </a>
      </div>
      |
      <div class = "blog_portfolio">
        <a href="/portfolio">
          <h4>Portfolio</h4>
        </a>
      </div>
    </div>
  </div>
  <div id = "body">
    <div class = "owl-carousel">
      <div>
        <img src= "http://www.gregscott.com/gjs_az_2003/gjs_1664_broadbill_w_sky_and_flower_600x480.JPG"/>
      </div>
      <div>
        <img src = "http://www.unc.edu/tlim/sakai_pilot_blog/www.wiinintendo.net/wp-content/uploads/2009/01/1up_wallpaper_by_arcwing-600x480.jpg"/>
      </div>
      <div>
        <img src = "http://the-design-ark.com/wp-content/uploads/2012/04/h12-600x480.jpg"/>
      </div>
    </div>
    <div id = "About">
      <p>
        My name is Travis Gibson. More stuff about me.
        More Stuff More Stuff More Stuff More Stuff
        More Stuff More Stuff More Stuff More Stuff
        More Stuff More Stuff More Stuff More Stuff
        More Stuff More Stuff More Stuff More Stuff
      </p>
    </div>
  </div>
</div>