<div id = "main_content">
  <div id = "top_bar">
    <div id = "title">
      <h3>Travis Gibson</h3>
    </div>
    <div id = "nav">
      <a href="/articles/index">
        <h4>Blog</h4>
      </a>
      |
      <a href="/portfolio/index">
        <h4>Portfolio</h4>
      </a>
    </div>
  </div>
    <div class = "slider">
      <div> 1</div>
      <div> 2</div>
      <div> 3</div>
    </div>
</div>