<div id = "main_content">
  <div id = "top_bar">
    <div id = "title">
      <h3>Travis Gibson</h3>
    </div>
    <div id = "nav">
      <div id = "blog">
        <a href="/articles">
          <h4>Blog</h4>
        </a>
      </div>
      |
      <div id = "portfolio">
        <a href="/portfolio">
          <h4>Portfolio</h4>
        </a>
      </div>
    </div>
  </div>
  </div>
    <div class = "slider">
      <div> 1</div>
      <div> 2</div>
      <div> 3</div>
    </div>
    <div id = "About">
      <p>
        My name is Travis Gibson. More stuff about me.
        More Stuff More Stuff More Stuff More Stuff
        More Stuff More Stuff More Stuff More Stuff
        More Stuff More Stuff More Stuff More Stuff
        More Stuff More Stuff More Stuff More Stuff
      </p>
    </div>
</div>