<div id = "projects">
  <div id = "fit-friends">
    <a href = "http://fit--friends.herokuapp.com/"><h1>Fit Friends</h1></a>
    <p>
      Fit Friends was designed to be a social web application based on the sending and completing of workout challenges.
    </p>
  </div>
  <div id = "haiku-generator">
    <a href = "https://fierce-shelf-4484.herokuapp.com/"><h1>Haiku Generator</h1></a>
    <p>
      Do you like Haikus but just don't have enough time to write them? Perfect, then this application is for you. The Haiku generator takes an image link and generates a poem about said image.
    </p>
  </div>
</div>